<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header class="top-Header" id="top-Header">
        <div class="left-Top-Header">
            <nav>
                <a href="#">Home</a>
                <a href="#">News</a>
                <a href="#">About Us</a>
                <a href="#">Contacts</a>
            </nav>
        </div>
        <div class="right-Top-Header"><img src="Images/Leila.png" height="80px" width="auto"></div>
    </header>
</body>
</html>