    .top-Header{
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 80Px;
        background-color: #000;
        color: #fff;
        box-shadow: 0 1px 5px 0 #000;
        z-index: 100;
    }
    .left-Top-Header{
        width: 80%;
        justify-self: left;
        margin: auto;
        padding-left: 50px;
    }
    .left-Top-Header a{
        display: inline-block;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        background-color: transparent;
    }
    .left-Top-Header a:hover{color: red;}
    .right-Top-Header{
        width: 20%;
        justify-self: right;
    }
