<style>
    .navbar-Icons{
        width: 100%;
        height: 80Px;
        background-color: #000;
        color: #fff;
        box-shadow: 0 1px 5px 0 #000;
        z-index: 100;
    }
    .left-Navbar-Icons{
    width: 80%;
    justify-self: left;
    margin: auto;
    padding-left: 50px;
    }
    .left-Navbar-Icons a{
        display: inline-block;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        background-color: transparent;
    }
</style>
<header class="navbar-Icons">
    <div class="left-Navbar-Icons">
        <nav>
            <a href="#"><i class="fa fa-fw fa-home"></i>Home</a>
            <a href="#"><i class="fa fa-newspaper-o"></i>News</a>
            <a href="#"><i class="fa fa-fw fa-user"></i>About Us</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i>Contacts</a>
        </nav>
    </div>
    <div class=""><img src="Images/Leila.png" height="80" width="auto"></div>
</header>