<style>
    body {
      font-family: 'Lato', sans-serif;
    }
    
    .overlay {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      height: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }
    </style>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class=""><img src="Images/Leila.png" height="200px" width="200px" style="border-radius: 50%;"></div>
        <div class="overlay-content">
            <nav>
                <a href="#"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="#"><i class="fa fa-newspaper-o"></i>News</a>
                <a href="#"><i class="fa fa-fw fa-user"></i>About Us</a>
                <a href="#"><i class="fa fa-fw fa-envelope"></i>Contacts</a>
            </nav>
        </div>
    </div>
<divstyle="display: inline-block;"><span style="font-size:30px;cursor:pointer; padding: 10px 20px;" onclick="openNav()">&#9776;</span></div>
<div style="padding: 50px; display: inline-block;z-index: 100;">
    <a href="#" style="padding: 20px; background-color: black; color: white;" onclick="fullScreenOverlayNav()">Slide Right</a>
    <a href="#" style="padding: 20px; background-color: black; color: white;" onclick="overlayNavSlideDown()">Slide Down</a>
</div>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }
    
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
    </script>